<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Input the secret code</h1>
  <form action="/join" method="POST">
    <div>
      <label for="code">Code: </label>
      <input id="code" name="code" />
    </div>
    <button type="submit">Join</button>
  </form>
</body>
</html>
