<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Post Form</h1>
  <form action="/post/create" method="POST">
    <div>
      <label for="title">Title: </label>
      <input id="title" name="title" />
    </div>
    <div>
      <label for="text">Text: </label>
      <input id="text" name="text" />
    </div>
    <button type="submit">Post</button>
  </form>
</body>
</html>
